<h1>Values for Create</h1>

<table class="table">
	<thead>
		<th>Partner ID</th>
		<th>Competency ID</th>
	</thead>
	<tbody>
		<tr>
				<td><%= @partner_id.id %></td>
				<td><%= @competency %></td>
		</tr>
	</tbody>
</table>
