<% @page_title = "New Competency" %>
<h1>New Competency</h1>

<%= form_for(@competency) do |f| %>
	
	<%= render(:partial => 'form', :locals => {:f => f}) %>
	
	<%= f.submit("Create Competency") %>
<% end %>

<br />

<%= link_to("Home", competencies_path)%>
