      <tr>
      	<td><%= ajax_test.name %></td>
        <td><%= link_to 'Show', ajax_test %></td>
        <td><%= link_to 'Edit', edit_ajax_test_path(ajax_test) %></td>
        <td><%= link_to 'Destroy', ajax_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>