<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	<h3 id="myModalLabel">Add Ajax Test</h3>
</div>

<div class="modal-body">
  <table class="table">
  	<%= form_for(@ajax_test, :remote => true) do |f| %>
  	<tr>
  		<td>Name: </td>
  		<td><%= f.text_field(:name)%></td>
  	</tr>
  	<%= f.submit('Save') %>
  	<% end %>
  </table>
</div>

<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    
</div>	